<!-- blog 博客 -->
<div>
<!--标签-->
<template id="temp-label">
<li class="tabs-blog hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a"
    data-tab-name="blog">
    <span class="tite-list">博客</span>
    <i class="fa fa-bullhorn icon_menu"></i>
</li>
</template>
<!--内容-->
<template id="temp-content">
<div id="blog" class="content_2">
    <h1 class="h-bloc">Mrxzm -Blog</h1><br>

    <div class="col-md-12">
        <div class="row">

            <!-- Page Blog -->
            <div class="col-md-12" id="blog-article">
                <!-- start Page Blog -->
                <section id="blog-page">

                </section>
                <!-- End Page Blog -->

            </div>

            <!-- 提示框 -->
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            <h3 class="modal-title h3_modal"
                                style="color: #fff !important;">FlexyVcard -
                                Responsive Vcard Template</h3>
                        </div>
                        <div class="modal-body">
                            <p>FlexyVcard is an impressive and professional online
                                vcard, a beautiful portfolio with sliding effect,
                                resume and contact information with Google map.</p>
                            <p>It’s simple! Just download and install in a few
                                minutes, you can show your online card to your
                                friend, customer or employer in an interview by
                                phone or tablet. Because FlexyVcard is a responsive
                                template, you can view your website on pc as well as
                                handheld devices. You can also link to your social
                                profiles, display your portfolio in many media
                                format such as image, youtube video, flash...</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</template>
</div>