<!-- contact 留言 -->
<div>
<!--标签-->
<template id="temp-label">
    <!--<a id="downlowd" style="margin-bottom: 10px;" target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=446Rm5mOo5KSzYCMjg"><i class="fa fa-envelope icon_print"></i></a>-->
<li class="tabs-contact hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a"
    data-tab-name="contact" style="margin-bottom: 48px !important;">
    <span class="tite-list">留言</span>
    <i class="fa fa-envelope icon_menu"></i>
</li>
</template>

<!--内容-->
<template id="temp-content">
<div id="contact" class="content_2">
    <h1 class="h-bloc">给我留言</h1>

    <div class="row">

        <div class="col-lg-12">
            <div class="row" id="contact-user">
                <div class="col-md-12">
                    <!-- Contact Form -->
                    <div class="contact-form">
                        <div id="contact-status"></div>

                        <form action="#" id="contactform">
                            <p class="form-group" id="contact-name">
                                <label for="name">你的姓名</label>
                                <input type="text" name="name"
                                       class="form-control name-contact"
                                       id="inputSuccess" placeholder="姓名..."/>
                            </p>
                            <p class="form-group" id="contact-email">
                                <label for="email">联系方式</label>
                                <input type="text" name="email"
                                       class="form-control email-contact"
                                       id="inputSuccess" placeholder="邮箱..."/>
                            </p>

                            <p class="form-group" id="contact-message">
                                <label for="message">内容</label>
                                <textarea name="message" cols="88" rows="6"
                                          class="form-control message-contact"
                                          id="inputError"
                                          placeholder="内容..."></textarea>
                            </p>
                            <input type="reset" name="reset" value="清除"
                                   class="reset">
                            <!--<input type="submit" name="submit" value="SEND MESSAGE" class="submit">-->

                            <section class="button-demo"
                                     style="display: inline-block;">
                                <button class="ladda-button submit send_email"
                                        name="submit" data-color="green"
                                        data-style="expand-left">发送 留言
                                </button>
                            </section>

                        </form>
                    </div>
                    <!-- /Contact Form -->
                </div>
            </div>
        </div>

    </div>
</div>
</template>
</div>