<!-- profile 个人信息 -->
<div>
<!--标签-->
<template id="temp-label">
    <li class="tabs-profile hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a profile"
        data-tab-name="profile">
        <span class="tite-list">个人信息</span>
        <i class="fa fa-user icon_menu icon_menu_active"></i>
    </li>
</template>
<!--内容-->
<template id="temp-content">
    <div id="profile" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">介绍</h1>

    <div class="row top-p">
        <div class="col-md-6 profile-l">

            <!--About me-->
            <div class="title_content">
                <div class="text_content">mrxzm</div>
                <div class="clear"></div>
            </div>

            <ul class="about">

                <li>
                    <i class="glyphicon glyphicon-user"></i>
                    <label>昵称</label>
                    <span class="value">mrxzm</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-fire"></i>
                    <label>身份</label>
                    <span class="value">coder</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <label>地址</label>
                    <span class="value">中国广西</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <label>Email</label>
                    <span class="value">mrxzm@live.com</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-phone"></i>
                    <label>QQ</label>
                    <span class="value">1009705938</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-globe"></i>
                    <label>Website</label>
                    <span class="value"><a href="https://mrxzm.top" target="_blank">www.mrxzm.top</a></span>
                    <div class="clear"></div>
                </li>
            </ul>


            <p style="margin-bottom:20px">
                <i class="fa fa-quote-left"></i>
                陶庵公书：“家有露台，朱栏绮疏，竹帘纱幔。夏月浴罢，露台杂坐。两岸水楼中，茉莉风起动儿女香甚。女各团扇轻绔，缓鬓倾髻，软媚着人。”欲以往之。
            </p>

        </div>
        <!-- End left-wrap -->
        <!-- 代码块 -->
        <div class="col-md-6 profile-r">
            <div class="code-block">
                <pre class="language-C#"><code id="code-content"></code></pre>
            </div>
        </div>
    </div>
    </div>
</template>
</div>